include
.Python

db.sqlite

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# a saved neural network model for suggestion
# it's too big to upload on github
.web.searcher.data/
*.pt
