{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-three-quarters">
        <div data-chatid={{ chat_id }} id="data" class="chatData container has-background-info">
            <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
            <div class="message_holder"></div>
            <form class="columns" action="" method="POST">
                <div class="container column is-three-quarters">
                    <input class="message input" type="text"  placeholder="Messages"/>
                </div>
                <div class="container column">
                    <input class="button" type="submit"/>
                </div>
            </form>
        </div>
    </div>

    <div class="column has-background-info">
        <span>suggestions</span>
        <form method="POST">
            <input class="input" type="text" />
            <input class="button" type="submit" />
        </form>
        <div class="suggestion_holder"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>  
<script type="text/javascript">

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var chatid = document.querySelector('#data').dataset.chatid
    socket.on('connect', function() {
        socket.emit('my event', {
            data: 'User Connected'
        });

        var form = $('form').on('submit', function(e) {
            e.preventDefault()
            // let user_name = $('input.username').val();
            let user_input = $('input.message').val();
            if (user_input) {
                socket.emit('my event', {
                // user_name: user_name,
                message: user_input,
                chat_id: chatid
                // chatroom number
                });
                $('input.message').val('').focus()
            }
        })
    })
    
    url = 'http://localhost:5000/chatroom/history/' + chatid
    fetch(url)
        .then((response) => {
            console.log(response)
            return response.json();
        })
        .then((data) => {
            for (msg of data) {
                console.log(msg)
                $('h3').remove()
                $('div.message_holder').append( 
                    '<div><b style="color: #000">'+msg.user+'</b> '+msg.message+'</div>' 
                )
            }
        })
        
    socket.on('my response', function(msg) {
        if ('data' in msg) {
            console.log("user logged on")
        } else if ('message' in msg) {
            $('h3').remove()
            $('div.message_holder').append( 
                '<div><b style="color: #000">'+msg.user+'</b> '+msg.message+'</div>' 
            )
        }
    })
</script>
{% endblock %}